<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<style>
.inputfile {
    z-index: -11111;  width: 0px;  height: 1px;
}
</style>


<body>
    <h1>Face Search</h1>
    <form action="result">
        <label>target image</label><br > 
        <input type="url" name="url">
        
        <input type="submit" name="">

    <!-- <form action="/example/html5/demo_form.asp" method="get"> -->
    	<!-- Homepage:<input type="url" name="url" /><br /> -->
        <!-- <input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*" size="30" > -->
        <!-- <input type="submit" name="Submit" /> -->
    </form>
    


</body>
</html> 





